{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% block script %}
    {% endblock %}

    {% block style %}
    {% endblock %}


</head>
<body>

{% if not index %}
    <div class="header-site">
        {% if request.user.is_authenticated %}
            <div>
                <a class="login" href="{% url 'studying' %}">Учеба</a>
            </div>
            <div>
                <a class="login" href="{% url 'work' %}">Работа</a>
            </div>
            <div>
                <a class="login" href="{% url 'profile' %}">Профиль</a>
            </div>
        {% endif %}
        <div>
            {% if request.user.is_authenticated %}
                <div>
                    <a class="login" href="{% url 'logout' %}">Выйти</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% block content %}
{% endblock %}


</body>
</html>