body {
    background-color: black;
    color: white;
}

h3 {
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 50px auto 0 auto;
    display: flex;
}

.second-block {
    color: white;
    text-align: center;
    margin: 0 auto;
}


.text {
    color: blue;
    font-size: 100px;
}


.main-block-vote {
    color: white;
}


img.planet {
    animation: 0.1s linear 1s normal none infinite running planet;
    -webkit-animation: 160s linear 0s normal none infinite running planet;
}


.main-block-vote {
    width: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
}

.block-question {
    margin-bottom: 30px;
    margin-top: 30px;
}

.block-answers {
    display: flex;
    justify-content: center;
}

.block-answer {
    min-width: 100px;
    background-color: unset;
    color: white;
    border: 1px solid grey;
    margin: 10px 20px;
    padding: 5px 0;
    border-radius: 7px;
}

.btn-answer {
    display: none;
}

.block-answer:hover {
    background-color: #a4a4a4;
    color: black;
}

a {
    text-decoration: none;
    color: #6262ff !important;
}

.header-site {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    margin: 0 200px;
}

.header-site div a {
    font-size: 35px;
}

.block-login-user {
    width: 500px;
    margin: 200px auto 0 auto;
    text-align: center;
    border: 2px solid grey;
    padding: 20px 0 60px 0;
    border-radius: 10px;
    font-size: 26px;
}

.label-auth {

}

.login {
    font-size: 26px;
}

.password {
    font-size: 20px;
}

.block-form-login {
    width: 300px;
    margin: 0 auto;
}

.btn-login {
    min-width: 100%;
    background-color: unset;
    color: white;
    border: 1px solid grey;
    padding: 8px 0;
    border-radius: 7px;
    height: 40px;
    font-size: 20px;
}

.btn-login:hover {
    background-color: #a4a4a4;
    color: black;
}

.text-create-acc {
    font-size: 20px;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    font-size: 56px;
    font-weight: bold;
}

@-webkit-keyframes blink {
    0% {
        color: rgb(0, 21, 103);
    }
    50% {
        color: rgb(0, 38, 147);
    }
    100% {
        color: rgb(0, 26, 128);
    }
}

@keyframes blink {
    0% {
        color: rgb(0, 30, 128);
    }
    50% {
        color: rgb(0, 27, 155);
    }
    100% {
        color: rgb(0, 11, 128);
    }
}

.attention {
    width: 600px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

.main-profile {
    margin: 70px 200px;
}

.container-texts {
    display: flex;
    align-items: start;
    word-break: break-all;
    flex-flow: row wrap;
    border-top: 2px solid grey;
    padding-top: 30px;
}

.block-text {
    border: 2px solid grey;
    max-width: 1000px;
    min-width: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 30px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.block-text pre {
}

.politic {
    font-size: 20px;
}

.block-link-upload div {
    display: inline-block;
}

.btn-upload {
    margin-right: 5px;
    background-color: unset;
    color: white;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 3px 10px;
}

.btn-upload:hover {
    background-color: #a4a4a4;
    color: black;
}

.block-profile {
    margin-bottom: 20px;
}

.btn-profile {
    margin-right: 5px;
    background-color: unset;
    color: white;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 3px 10px;
    font-size: 18px;
}


.btn-profile:hover {
    background-color: #a4a4a4;
    color: black;
}

.main-block-result-vote {
    margin: 100px auto 0 auto;
    padding: 0 200px;
}

.block-user-answer {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.text-user-answer {
    font-size: 20px;
}

.block-zapoved {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    margin-bottom: 50px;
}

.send-mail {
    padding: 0 200px;
    margin-top: 40px;
}

.list-message {
    padding: 0 200px;
    margin-top: 40px;
}

.block-btn {
    margin-top: 20px;
}

.block-user-finance {
    display: flex;
    justify-content: space-between;
}

.main-block-finance {
    margin: 30px 200px 0 200px;
}


.column {
    float: left;
    width: 10%;
    background-color: #003fff;
    margin-right: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.column:before {
    content: "";
    padding-top: 100%;
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.block-column {
    margin-top: 50px;
}

.show-sent-message {
    border-top: 2px solid grey;
    padding-top: 20px;
    margin-top: 20px;
}

.block-with-compil {
    display: flex;
    justify-content: space-between;
}

.block-with-compil div {
    margin: 20px 5px 0;
}

#defaultCanvas0 {
    margin: 0;
    overflow: hidden !important;
    background-color: black !important;
    max-width: 100%;
}

.matrix-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: lime;
    pointer-events: none;
    z-index: 1;
}

.matrix-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}